
.p-datatable-wrapper {
    min-height: 80vh;
}
.btn-action{
    padding: 4px 15px;
}
.filter-section{
    display: flex;
    align-items: center;
}
.reports-table tr td,.reports-table tr th {
    text-align: center;
 }
 .reports-table tr th input{
    padding: 6px 8px !important;
    width: 100% !important;
 }
 .calendar{
    width: 100% !important;
 }
 