<div class="main-container">
  <input
    type="file"
    multiple
    accept="{{ fileType }}"
    id="{{fileType}}"
    (change)="onFileUpload($event)"
  />
  <label for="{{fileType}}"
    ><i class="{{ fileType === 'Image/*' ? 'pi pi-image' : 'pi pi-file-pdf' }}"></i
    >{{ fileType === "Image/*" ? "   Brose Image" : "   Brose File" }}</label
  >
  <div class="d-flex">
    <div *ngFor="let file of files" class="image-container">
      <img *ngIf="fileType === 'Image/*'" src="{{ file }}" alt="" class="shadow" />
      <div *ngIf="fileType === '.pdf'"> 
        <i class="pi pi-file-pdf"></i>
        <span>  {{file}}</span>
      </div>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-danger p-button-text btn-remove"
        (click)="onRemove(file)"
      ></button>
    </div>
  </div>
</div>
