<p-dialog
  [(visible)]="openDialog"
  [style]="{ width: 'auto' }"
  [modal]="true"
  header="ჩემი პროდუქტები"
  styleClass="p-fluid"
  (onHide)="onClose()"
>
<p-table [value]="data" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
    <div>
        <span>TotalPrice:</span>
    </div>
    <ng-template pTemplate="header" class="my-2">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>TotalPrice</th>
            <th>Voucher</th>
            <th>Voucher Amount</th>
            <th>Order date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.totalPrice}} ₾</td>
            <td>{{product.voucher? product.voucher.key: "---"}}</td>
            <td>{{product.voucherAmount? product.voucherAmount: 0}} ₾</td>
            <td>{{dateFormat(product.createDate)}}</td>
        </tr>
    </ng-template>
</p-table>
</p-dialog>
