.main-conatiner {
  background-color: #f6f6f6;
}
.form-container {
  display: flex;
  width: 50%;
  border-radius: 6px;
  position: relative;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  flex-direction: column;
}
.btn-signup {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.input-icon{
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 30px;
  color: #BCD6F4;
}
