.custom-border {
  border: 2px solid rgb(131, 177, 224, 0.2);
}
.custom-column {
  background-color: white;
  font-size: 15px;
}
.custom-btn {
  cursor: pointer;
}
.custom-btn:hover {
  font-size: 17px;
  transition: 0.1s;
  cursor: pointer;
}
