.border-normal {
  border: 2px solid rgba(131, 177, 224, 0.2);
}
.border-error {
  border: 2px solid rgba(249, 70, 70, 0.2);
}
.custom-column {
  background-color: white;
  font-size: 15px;
}
.custom-btn {
  cursor: pointer;
}
.custom-btn:hover {
  font-size: 17px;
  transition: 0.1s;
  cursor: pointer;
}
.btn-action{
  position: absolute;
}
.item{
  cursor: pointer;
}
