<div class="card">
    <h5>Session Storage</h5>
    <p-table #dt1 [value]="data"dataKey="id" [tableStyle]="{'min-width': '50rem'}"
        [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="productName" style="width:25%">Product Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="quantity" style="width:25%">Quantity <p-sortIcon field="country.name"></p-sortIcon></th>
                <th pSortableColumn="orderDate" style="width:25%">Order Date <p-sortIcon field="representative.name"></p-sortIcon></th>
                <th pSortableColumn="voucherAmount" style="width:25%">Voucher Amount <p-sortIcon field="status"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value,'product.name','contains')" [value]="dt1.filters['product.name']?.value" placeholder="Search by Name" class="w-full">
                </th>
                <th>
                    <input pInputText type="number" (input)="dt1.filter($event.target.value, 'quantity', 'contains')" [value]="dt1.filters['quantity']?.value" placeholder="Search by Country" class="w-full">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($event.target.value, 'createDate', 'contains')" [value]="dt1.filters['createDate']?.value" placeholder="Search by Representative" class="w-full">
                </th>
                <th>
                    <input pInputText type="number" (input)="dt1.filter($event.target.value, 'voucherAmount', 'contains')" [value]="dt1.filters['voucherAmount']?.value" placeholder="Search by Status" class="w-full">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr [pSelectableRow]="order">
                <td>
                    <span class="p-column-title">Product Name</span>
                    {{order.product.name}}
                </td>
                <td>
                    <span class="p-column-title">Quantity</span>
                    <span class="image-text">{{order.quantity}}</span>
                </td>
                <td>
                    <span class="p-column-title">Order Date</span>
                    <span class="image-text">{{order.createDate}}</span>
                </td>
                <td>
                    <span class="p-column-title">Voucher Amount</span>
                    <span>{{order.voucherAmount}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>