<p-dialog
  [(visible)]="openDialog"
  [style]="{ width: '450px' }"
  header="პროდუქტების დეტალები"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="onClose()"
>
  <ng-template pTemplate="body">
    <div class="details">
      <h4>Name: {{ data.product.name }}</h4>
      <p><i class="pi pi-dollar"></i> Peice: {{ data.product.price }}</p>
      <div class="d-flex align-items-center my-3">
        <span>Quantity: {{ data.quantity }}</span>
        <app-quantity-selector
          [currentQuantity]="data.quantity"
          (increase)="onIncrease()"
          (decrease)="onDecrease()"
          class="px-3"
        ></app-quantity-selector>
      </div>
      <div>
        <p>
          Total ptice:
          {{ data.quantity * data.product.price }}
        </p>
      </div>
      <div *ngIf="data.voucher" class="voucher">
        <span
          ><i class="pi pi-link"></i> Bounded voucher: -<span
            style="color: #22c581"
            >{{ this.data.voucherAmount}} ₾</span
          ></span
        >
       <i class="pi pi-times btn-voucher-remove" (click)="onVoucherDelete()"></i>
      </div>
      <div *ngIf="data.voucher"  class="py-2 position-relative">
        <p>
          Summery:
          <span style="color: #22c581; font-weight: bold"
            >{{ this.data.product.price * this.data.quantity - this.data.voucherAmount}} ₾</span
          >
        </p>
        
      </div>
    </div>
    <div *ngIf="!data.voucher" class="row g-0 py-4">
      <div class="col-10">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText #key />
          <label for="float-input">ფასდაკლების კოდი</label>
        </span>
      </div>
      <div class="col">
        <button
          pButton
          class="p-button-rounded p-button-sm p-button-text p-button-warning mx-2"
          icon="pi pi-check"
          (click)="onCheckKey(key.value)"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="გაუქმება"
      icon="pi pi-times"
      class="p-button-text p-button-danger"
      (click)="onClose()"
    ></button>
    <button
      pButton
      pRipple
      label="ყიდვა"
      icon="pi pi-dollar"
      class="p-button-text p-button-success"
      (click)="onSubmit()"
    ></button>
  </ng-template>
</p-dialog>
