<div class="card">
  <p-toolbar>
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="ახალი"
        icon="pi pi-plus"
        class="p-button-success mx-1 p-button-sm"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="წაშლა"
        icon="pi pi-trash"
        class="p-button-danger mx-1 p-button-sm"
        (click)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length"
      ></button>
      <p-tabMenu
        [model]="menuItems"
        [activeItem]="menuItems[0]"
        (activeItemChange)="onMenuItemChange($event)"
        class="px-2"
      ></p-tabMenu>
    </ng-template>

    <ng-template pTemplate="right">
      <a href="home" class="text-decoration-none">უკან დაბრუნება</a>
    </ng-template>
  </p-toolbar>

  <!-- product table -->
  <p-table
    *ngIf="currentMenuTab.label === 'Products'"
    #dt
    [value]="products"
    [rows]="4"
    [paginator]="true"
    [globalFilterFields]="['name', 'price']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">პროდუქტების მართვა</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 1rem; height: 1rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="quantity">
          Quantity <p-sortIcon field="quantity"></p-sortIcon>
        </th>
        <th pSortableColumn="price">
          Price <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="createdBy">
          CreatedBy <p-sortIcon field="createdBy"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr style="font-size: 15px">
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price | currency : "₾" }}</td>
        <td>{{ getUsername(product.createdBy) }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mx-1"
            (click)="editItem(product)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning mx-1"
            (click)="deleteProduct(product)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        სულ არის {{ products ? products.length : 0 }} პროდუქტი
      </div>
    </ng-template>
  </p-table>

  <!-- Users table -->
  <p-table
    *ngIf="currentMenuTab.label === 'Users'"
    #userTable
    [value]="users"
    [rows]="4"
    [paginator]="true"
    [globalFilterFields]="['name', 'price']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">მომხმარებლის მართვა</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstname" style="min-width: 15rem">
          Firstname <p-sortIcon field="firstname"></p-sortIcon>
        </th>
        <th pSortableColumn="lastname">
          Lastname <p-sortIcon field="lastname"></p-sortIcon>
        </th>
        <th pSortableColumn="email">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="password">
          Password <p-sortIcon field="password"></p-sortIcon>
        </th>
        <th pSortableColumn="role">
          Role <p-sortIcon field="role"></p-sortIcon>
        </th>
        <th pSortableColumn="lastUpdated">
          Create Date <p-sortIcon field="lastUpdated"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr style="font-size: 15px">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.lastUpdated }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mx-1"
            (click)="editItem(user)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning mx-1"
            (click)="deleteUser(user)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        სულ არის {{ users ? users.length : 0 }} მომხმარებლი
      </div>
    </ng-template>
  </p-table>
</div>

<!-- Vaucher table -->
<p-table
  *ngIf="currentMenuTab.label === 'Vouchers'"
  #voucherTable
  [value]="vouchers"
  [rows]="4"
  [paginator]="true"
  [globalFilterFields]="['name', 'price']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedProducts"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">პროდუქტების მართვა</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 1rem; height: 1rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="Key" style="min-width: 15rem">
        Key <p-sortIcon field="key"></p-sortIcon>
      </th>
      <th pSortableColumn="price">
        Price <p-sortIcon field="price"></p-sortIcon>
      </th>
      <th pSortableColumn="isValid">
        Valid Status <p-sortIcon field="isValid"></p-sortIcon>
      </th>
      <th pSortableColumn="validDate">
        Valid date <p-sortIcon field="validDate"></p-sortIcon>
      </th>
      <th pSortableColumn="isUsed">
        Is Used <p-sortIcon field="isUsed"></p-sortIcon>
      </th>
      <th pSortableColumn="createdBy">
        Created by <p-sortIcon field="createdBy"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-voucher>
    <tr style="font-size: 15px" [ngClass]="voucher.isUsed ? 'text-danger':''">
      <td>
        <p-tableCheckbox [value]="vouchers"></p-tableCheckbox>
      </td>
      <td>{{ voucher.key }}</td>
      <td>{{ voucher.price }}</td>
      <td>{{ voucher.isValid }}</td>
      <td>{{ voucher.validDate }}</td>
      <td>{{ voucher.isUsed }}</td>
      <td>{{ getUsername(voucher.createdBy) }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mx-1"
          (click)="editItem(voucher)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning mx-1"
          (click)="deleteVoucher(voucher)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      სულ არის {{ products ? products.length : 0 }} პროდუქტი
    </div>
  </ng-template>
</p-table>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


<!-- product modal -->
<app-product-dialog
  [openDialog]="productDialog"
  (close)="hideDialog()"
  (submit)="saveDialogResult($event)"
  [data]="product"
></app-product-dialog>

<!-- user modal -->
<app-user-dialog
  [openDialog]="userDialog"
  (close)="hideDialog()"
  (submit)="saveDialogResult($event)"
  [data]="user"
></app-user-dialog>

<!-- Voucher modal -->
<app-generate-voucher
  *ngIf="voucherDialog"
  [openDialog]="voucherDialog"
  (close)="hideDialog()"
  [data]="voucher"
  (submit)="saveDialogResult($event)"
></app-generate-voucher>
