<div class="container my-3">
  <div class="cart-item-header w-100">
    <div class="row text-center p-2">
      <div class="col-6 text-center">პროდუქტის დასახელება</div>
      <div class="col-2">რაოდენობა</div>
      <div class="col-2">ფასი</div>
      <div class="col-2 text-primary">ჯამი</div>
    </div>
  </div>
  <div class="cart-item-body py-3">
    <div class="row text-center p-2">
      <div class="col-6">
        {{ cartItem.item.name }}
      </div>
      <div class="col-2">
        <app-quantity-selector
          (increase)="onQuantityIncrease()"
          (decrease)="onQuantityDecrease()"
          [currentQuantity] ="cartItem.quantity"
        ></app-quantity-selector>
      </div>
      <div class="col-2">
        {{ cartItem.item.price }}
      </div>
      <div class="col-2 text-primary">
        {{ cartItem.item.price * cartItem.quantity }} ₾
      </div>
    </div>
  </div>
  <button class="btn-remove" (click)="onDelete()">
    <fa-icon [icon]="removeIcon"></fa-icon>
  </button>
</div>
