<div class="main-container">
  <div class="custom-header shadow">
    <a *ngIf="loggedUser.role === 'admin'" href="admin" class="custom-link"
      >admin panel</a
    >
    <div class="d-flex align-items-center">
      <div>
        <button
        pButton
        label="My Products"
        class="p-button-rounded p-button-sm p-button-text px-1 mx-2"
        icon="pi pi-credit-card"
        style="height: 12px; font-size: 10px;"
        (click)="onMyProduct()"
        >

        </button>
      </div>
      <i class="pi pi-shopping-cart"></i>
      [{{ cartItems.length }}]
    </div>
    <span class="mx-2"
      >{{ loggedUser.firstname }} {{ loggedUser.lastname }}</span
    >
    <a class="mx-2 text-decoration-none text-prymary" (click)="onLogout()"
      >logout</a
    >
  </div>
  <div class="row container">
    <div class="col-7 position-relative">
      <div class="items-container">
        <div *ngIf="!isItemsLoading && !items.length" class="text-center">
          <h3 style="color: #728498">პროდუქტების სია ცარიალია!</h3>
          <button
            *ngIf="loggedUser.role == 'admin' || loggedUser.role == 'seller'"
            (click)="onCreateItem()"
            class="btn btn-warning btn-add shadow py-1"
          >
            <i class="pi pi-plus"></i>
            დამატება
          </button>
        </div>
        <div *ngIf="isItemsLoading" class="text-center">
          <div class="spinner-border text-primary"></div>
        </div>
        <div *ngIf="!isItemsLoading && items.length" class="row g-0">
          <div
            class="row g-0"
            style="font-weight: bold; font-size: 14px; color: #728498"
          >
            <div class="col-7">სახელი</div>
            <div class="col-2 text-center">რაოდენობა</div>
            <div class="col-1 text-center">ფასი</div>
            <div class="col text-center"></div>
          </div>
          <div>
            <div *ngIf="items">
              <app-item
                *ngFor="let item of items"
                [item]="item"
                [loggedUser]="loggedUser"
                (removeItem)="onRemoveItem($event)"
                (editItem)="onEditItem($event)"
                (addToCart)="onAddToCart($event)"
                ><h1></h1
              ></app-item>
            </div>
            <button
              pButton
              *ngIf="loggedUser.role == 'admin' || loggedUser.role == 'seller'"
              (click)="onCreateItem()"
              label="დამატება"
              icon="pi pi-plus"
              class="p-button-danger p-button-sm py-2"
              iconPos="right"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="cart-container">
        <div class="cart-header">
          <i
            class="pi pi-shopping-cart"
            style="font-size: 1.5rem; color: #67d965"
          ></i>
          <span class="text-primary px-3">ჩემი კალათა</span>
        </div>
        <div class="cart-body py-2 px-4">
          <div *ngIf="!isCartLoading && !cartItems.length" class="w-100">
            <p>კალათა ცარიალია</p>
          </div>
          <div
            [ngClass]="isCartLoading ? 'spinner-border text-primary' : ''"
          ></div>
          <div *ngIf="!isCartLoading" class="w-100">
            <app-cart-item
              *ngFor="let item of cartItems"
              [cartItem]="item"
              [voucherPrice]="item.voucherPrice"
              (remove)="onCartItemDelete(item.id)"
              (increase)="onQuantityIncrease(item)"
              (decrease)="onQuantityDecrease(item)"
              (open)="onCartItemOpen($event)"
            ></app-cart-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-dialog
  [(visible)]="isbuyModalOpen"
  [style]="{ width: '450px' }"
  header="პროდუქტების დეტალები"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="body">
    <div class="details">
      <h4>Name: {{ selectedCartItem.item.name }}</h4>
      <p>
        <i class="pi pi-dollar"></i>Peice: {{ selectedCartItem.item.price }}
      </p>
      <div class="d-flex align-items-center my-3">
        <span>Quantity: {{ selectedCartItem.quantity }}</span>
        <app-quantity-selector
          [currentQuantity]="selectedCartItem.quantity"
          class="px-3"
          (decrease)="onQuantityDecrease(selectedCartItem)"
          (increase)="onQuantityIncrease(selectedCartItem)"
        ></app-quantity-selector>
      </div>
      <p>
        Total ptice:
        {{
          selectedCartItem.quantity * selectedCartItem.item.price -
            selectedCartItem.voucherPrice
        }}
      </p>
    </div>
    <div *ngIf="!selectedCartItem.voucherPrice" class="row g-0 py-4">
      <div class="col-10">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText #key />
          <label for="float-input">ფასდაკლების კოდი</label>
        </span>
      </div>
      <div class="col">
        <button
          pButton
          class="p-button-rounded p-button-sm p-button-text p-button-warning mx-2"
          icon="pi pi-check"
          (click)="onCheckVoucherKey(key.value)"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="გაუქმება"
      icon="pi pi-times"
      class="p-button-text p-button-danger"
      (click)="onBuyDialogClose()"
    ></button>
    <button
      pButton
      pRipple
      label="ყიდვა"
      icon="pi pi-dollar"
      class="p-button-text p-button-success"
      (click)="onBuy(selectedCartItem)"
    ></button>
  </ng-template>
</p-dialog>
<app-my-products [openDialog]="myProductDialog" [data]="myProducts"></app-my-products>
