<div class="main-container">
  <div class="custom-header shadow">
    <button (click)="openTable()">openTable</button>
    <a *ngIf="loggedUser.role === 'admin'" href="admin" class="custom-link"
      >admin panel</a
    >
    <div>
      <button
        *ngIf="loggedUser.role === 'admin' || loggedUser.role === 'seller'"
        pButton
        label="Show vouchers"
        class="p-button-rounded p-button-sm p-button-text p-button-danger px-1 mx-2"
        icon="pi pi-dollar"
        style="height: 12px; font-size: 10px"
        (click)="openVoucherShowModal()"
      ></button>
      <button
        *ngIf="loggedUser.role === 'admin' || loggedUser.role === 'seller'"
        pButton
        label="Generate voucher"
        class="p-button-rounded p-button-sm p-button-text px-1 mx-2"
        icon="pi pi-money-bill"
        style="height: 12px; font-size: 10px; color: #67d965"
        (click)="openVoucherDialog()"
      ></button>
    </div>
    <div class="d-flex align-items-center">
      <div>
        <button
          pButton
          label="My Products"
          class="p-button-rounded p-button-sm p-button-text px-1 mx-2"
          icon="pi pi-credit-card"
          style="height: 12px; font-size: 10px"
          (click)="onMyProduct()"
        ></button>
      </div>
      <i class="pi pi-shopping-cart"></i>
      [{{ cartItems.length }}]
    </div>
    <span class="mx-2"
      >{{ loggedUser.firstname }} {{ loggedUser.lastname }}</span
    >
    <a class="mx-2 text-decoration-none text-prymary" (click)="onLogout()"
      >logout</a
    >
  </div>
  <div class="row container">
    <div class="col-7 position-relative">
      <div class="items-container">
        <div *ngIf="!isItemsLoading && !products.length" class="text-center">
          <h3 style="color: #728498">პროდუქტების სია ცარიალია!</h3>
          <button
            *ngIf="loggedUser.role === 'admin' || loggedUser.role === 'seller'"
            (click)="onCreateItem()"
            class="btn btn-warning btn-add shadow py-1"
          >
            <i class="pi pi-plus"></i>
            დამატება
          </button>
        </div>
        <div *ngIf="isItemsLoading" class="text-center">
          <div class="spinner-border text-primary"></div>
        </div>
        <div *ngIf="!isItemsLoading && products.length" class="row g-0">
          <div
            class="row g-0"
            style="font-weight: bold; font-size: 14px; color: #728498"
          >
            <div class="col-7">სახელი</div>
            <div class="col-2 text-center">რაოდენობა</div>
            <div class="col-1 text-center">ფასი</div>
            <div class="col text-center"></div>
          </div>
          <div>
            <div *ngIf="products">
              <app-item
                *ngFor="let item of products"
                [item]="item"
                [loggedUser]="loggedUser"
                (removeItem)="onRemoveItem($event)"
                (editItem)="onEditItem($event)"
                (addToCart)="onAddToCart($event)"
                ><h1></h1
              ></app-item>
            </div>
            <button
              pButton
              *ngIf="
                loggedUser.role === 'admin' || loggedUser.role === 'seller'
              "
              (click)="onCreateItem()"
              label="დამატება"
              icon="pi pi-plus"
              class="p-button-danger p-button-sm py-2"
              iconPos="right"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="cart-container">
        <div class="cart-header">
          <i
            class="pi pi-shopping-cart"
            style="font-size: 1.5rem; color: #67d965"
          ></i>
          <span class="text-primary px-3">ჩემი კალათა</span>
        </div>
        <div class="cart-body py-2 px-4">
          <div *ngIf="!isCartLoading && !cartItems.length" class="w-100">
            <p>კალათა ცარიალია</p>
          </div>
          <div
            [ngClass]="isCartLoading ? 'spinner-border text-primary' : ''"
          ></div>
          <div *ngIf="!isCartLoading" class="w-100">
            <app-cart-item
              *ngFor="let item of cartItems"
              [cartItem]="item"
              (remove)="onCartItemRemove(item.id)"
              (increase)="onQuantityIncrease(item)"
              (decrease)="onQuantityDecrease(item)"
              (open)="onCartItemOpen($event)"
            ></app-cart-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<app-buy
  [data]="selectedCartItem"
  [openDialog]="buyModal"
  (checkVoucherKey)="onCheckVoucherKey($event)"
  (increaseQuantity)="onQuantityIncrease(selectedCartItem)"
  (decreaseQuantity)="onQuantityDecrease(selectedCartItem)"
  (submit)="onBuy(selectedCartItem)"
  (close)="onBuyDialogClose()"
  (removeVoucher)="onVoucherRemove($event)"
></app-buy>

<app-my-products

  [openDialog]="myProductModal"
  [data]="myOrders"
  (close)="onMyProductModalClose()"
></app-my-products>

<app-generate-voucher
  [openDialog]="voucherCreateModal"
  (close)="onVoucherDialogClose()"
  (submit)="onCreateVoucher($event)"
></app-generate-voucher>

<app-show-voucher
  [openDialog]="voucherShowModal"
  [data]="vouchers"
  (close)="onVoucherShowModalClose()"
  (add)="openVoucherDialog()"
>
</app-show-voucher>
<app-filterable-table [openDialog]="openFilterTable" [data]="myOrders"></app-filterable-table>
