<div class="main-container">
  <app-header
    class="w-100"
    (logout)="onLogout()"
    (addProduct)="onCreateItem()"
    (openCart)="openCart()"
  ></app-header>
  <div class="row px-5 w-100">
    <div class="col-md-12 col-lg-8  position-relative">
      <div class="items-container">
        <div *ngIf="!isItemsLoading && !products.length" class="text-center">
          <h3 style="color: #728498">პროდუქტების სია ცარიალია!</h3>
          <button
            *ngIf="loggedUser.role === 'admin' || loggedUser.role === 'seller'"
            (click)="onCreateItem()"
            class="btn btn-warning btn-add shadow py-1"
          >
            <i class="pi pi-plus"></i>
            დამატება
          </button>
        </div>
        <div *ngIf="isItemsLoading" class="text-center">
          <div class="spinner-border text-primary"></div>
        </div>
        <div *ngIf="!isItemsLoading && products.length" class="row g-0">
          <div class="row">
            <div
              *ngFor="let item of products"
              class="col-sm-12 col-md-6 col-lg-3"
            >
              <app-item
                [item]="item"
                [loggedUser]="loggedUser"
                (removeItem)="onRemoveItem($event)"
                (editItem)="onEditItem($event)"
                (addToCart)="onAddToCart($event)"
              >
              </app-item>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col d-none d-lg-flex">
      <div class="cart-container">
        <div class="cart-header">
          <i
            class="pi pi-shopping-cart"
            style="font-size: 1.5rem; color: #67d965"
          ></i>
          <span class="text-primary px-3">ჩემი კალათა</span>
        </div>
        <div class="cart-body py-2 px-4">
          <div *ngIf="!isCartLoading && !cartItems.length" class="w-100">
            <p>კალათა ცარიალია</p>
          </div>
          <div
            [ngClass]="isCartLoading ? 'spinner-border text-primary' : ''"
          ></div>
          <div *ngIf="!isCartLoading" class="w-100">
            <app-cart-item
              *ngFor="let item of cartItems"
              [cartItem]="item"
              (remove)="onCartItemRemove(item.id)"
              (increase)="onQuantityIncrease(item)"
              (decrease)="onQuantityDecrease(item)"
              (open)="onCartItemOpen($event)"
            ></app-cart-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<app-buy
  [data]="selectedCartItem"
  [openDialog]="buyModal"
  (checkVoucherKey)="onCheckVoucherKey($event)"
  (increaseQuantity)="onQuantityIncrease(selectedCartItem)"
  (decreaseQuantity)="onQuantityDecrease(selectedCartItem)"
  (submit)="onBuy(selectedCartItem)"
  (close)="onBuyDialogClose()"
  (removeVoucher)="onVoucherRemove($event)"
></app-buy>

<app-my-products [data]="myOrders"></app-my-products>

<app-generate-voucher (submit)="onCreateVoucher($event)"></app-generate-voucher>
<app-cart
  [data]="cartItems"
  (remove)="onCartItemRemove($event)"
  (increase)="onQuantityIncrease($event)"
  (decrease)="onQuantityDecrease($event)"
  (open)="onCartItemOpen($event)"
></app-cart>

<app-show-voucher [data]="vouchers" (add)="openVoucherDialog()">
</app-show-voucher>
