.minus-btn {
  border-radius: 6px 0 0 6px;
}
.container {
  font-weight: bold;
  font-size: 14px;
  max-width: 75px;
  user-select: none;
}
.plus-btn {
  border-radius: 0 6px 6px 0;
}
.selector-value{
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-selector{
    background-color: #bcd6f4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-selector:hover{
    color: red;
}
